---
import { type CollectionEntry } from 'astro:content';
import CustomImage from './CustomImage.astro';
import FormattedDate from './FormattedDate.astro';

const { post } = Astro.props as { post: CollectionEntry<'blog'> };
const { title, publishDate, updatedDate, featureImage, excerpt } = post.data;
---

<article class="mb-12 sm:mb-16">
    <header class="max-w-3xl mx-auto">
        <div class="mb-2 text-sm tracking-wider uppercase text-slate-500 sm:mb-3">
            <span class="text-primary">Featured</span>
            {' / '}
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <>
                        {' '}
                        <span>
                            (Updated on <FormattedDate date={updatedDate} />)
                        </span>
                    </>
                )
            }
        </div>
        <h2 class="text-3xl font-bold text-slate-900 sm:text-4xl md:text-5xl"><a href={`/blog/${post.id}/`}>{title}</a></h2>
    </header>
    {
        featureImage?.src && (
            <figure class="max-w-6xl mx-auto my-6 sm:my-8">
                <a href={`/blog/${post.id}/`}>
                    <CustomImage
                        {...featureImage}
                        class="w-full rounded-md"
                        widths={[480, 640, 768, 960, 1200, 1600]}
                        sizes="(min-width: 1216px) 1152px, calc(100vw - 32px)"
                        fetchpriority="high"
                        loading="eager"
                    />
                </a>
            </figure>
        )
    }
    {
        excerpt && (
            <div class="max-w-3xl mx-auto mt-6">
                <div class="prose prose-slate sm:prose-lg max-w-none">{excerpt}</div>
            </div>
        )
    }
    <div class="max-w-3xl mx-auto mt-8">
        <a
            class="bg-primary hover:shadow-button inline-flex items-center justify-center gap-1.5 rounded-full px-8 py-2.5 font-semibold text-white transition duration-300"
            href={`/blog/${post.id}/`}
        >
            Continue Reading
        </a>
    </div>
</article>
